.add-todo {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
}

.add-todo__input {
    border: none;
    border-bottom: 1px solid #FFFFFF    ;
    background-color: transparent;
    outline: none;
    padding: 0.5rem 0.5rem 0.5rem 0;
    font-size: 1rem;
    color: #FFFFFF;
    margin-bottom: 1rem;
    transition: border-color 0.3s;
}

.add-todo__input::placeholder {
    color: #FFFFFF;
}

.add-todo__input:focus {
    border-color: var(--button-color);
}

.add-todo__button {
    padding: 1rem 0;
    text-transform: uppercase;
    background-color: var(--button-color);
    border: 1px solid var(--button-color);
    font-weight: bold;
    color: #FFFFFF;
}